@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #FF914D;
    font-family: 'Inter', sans-serif;
    padding: 10px 20px;
}

canvas {
    border: solid black 2px;
    background-color: white;
}

.main-container {
    width: 300px;
    margin: auto;
}

.stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat-container p {
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 20px;
}

.game-container{
    width: 100%;
    height: 100%;
}
.end-screen{
    background-color: #5591ff;
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    color: white;
    text-align: center;
    /* display: none; */
}
.end-screen > div{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}
.end-screen .score{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
    display: none;
}
.end-screen .end-message{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    display: none;
}
.end-screen button{
    width: 100px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 7px 10px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #FF914D;
    color: white;
    transition: .1s;
}
.end-screen button:hover{
    box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 1);
}

.note{
    font-size: .8rem;
}
.note span{
    font-weight: 600;
}